<template>
  <div>
    <div v-if="filmToDisplay">
      <h1>{{ filmToDisplay.title }}</h1>
      <h2>{{ filmToDisplay.release_date }}</h2>
      <p>{{ filmToDisplay.opening_crawl }}</p>
    </div>
    <div v-else>
      <h1>Film non trouvé</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FilmShow',
  props: {
    films: {
      type: Array,
      default(){
        return []
      },
    },
  },
  computed: {
    filmToDisplay() {
      return this.films.find(film=>{
        if (film.episode_id == this.$route.params.id){
          return true
        } else {
          return false
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
