<template>
  <div>
    <div :key="film.episode_id" v-for="film in films">
      <router-link :to="{name:'film_show', params: {id:film.episode_id}}">{{ film.title }}</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FilmIndex',
  props: {
    films: {
      type: Array,
      default(){
        return []
      },
    },
  },
};
</script>

<style scoped>

</style>
