<template>
  <div id="app">
    <router-view :films="listFilm"/>
  </div>
</template>

<script>
import Axios from 'axios';

export default {
  name: 'App',
  data() {
    return {
      listFilm: [],
    };
  },
  async mounted() {
    const response = await Axios.get("https://swapi.dev/api/films")
    this.listFilm = response.data.results;
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
